#root {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
}

.editor {
    display: flex;
    height: calc(100% - 72px);
}

.editor .codeEditor {
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: 1.5rem;
    width: 40%;
    resize: none;
}

.MardownPrev {
    width: 60%;
    padding: 10px 15px;
    font-size: 1.2rem;
    overflow: auto;
    max-height: 100%;
    margin: 0;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.MardownPrev * {
    margin: 0;
    box-sizing: border-box;
}

.MardownPrev.light {
    background-color: #fff;
    color: #000;
}

.MardownPrev.dark {
    background-color: #333;
    color: #fff;
}